<!--The content below is only a placeholder and can be replaced.-->
<div id = "topContainer">
  <div style="text-align:center">
    <h2>
      Direction Translating Application
      <h1>
        Where do you want to go?
        <form>
            <div class="form-group row">
              <div id="col-xs-4">
                  <input class="form-control" id="ex3" type="text">
              </div>
            </div>
        </form>
      </h1>
    </h2>
  </div>
</div>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
